

img 
{
  max-width: 100%;
}

#desk{
  display: none !important  ;
} 

#mobile{
  display: block  !important;
} 



   


@media (min-width: 1200px) {
  #desk{
    display: block !important ;
  } 


  #mobile{
    display: none !important;
  } 


 
  
  
  
  
}