

img 
{
  max-width: 100%;
}

#desk{
  display: none !important  ;
} 

#mobile{
  display: block  !important;
} 



.row .row-item img {
  max-width: 70% !important;
}


ul li img {
  margin-right: 1em;
}

#black-btn {
  width: 100px;
  background-color: #000;
  color: #ffff;
  text-transform: capitalize;
  border-radius: 10px;
  font-weight: bold;
  padding: .5em;
}

#black-btn:hover {
  background-color: #fff;
  color: #000;
  outline: 1px solid #000;
}

br {
  display: none;
}
   
@media (min-width: 412px) {
   #order2 {
    top: -.9em;
   }
}


@media (min-width: 800px) {
  #order1 {
   top: -.9em;
  }

  #mobile{
    position: relative;
    top: 6em;
    max-height: 50%;
    margin-bottom: 3em;
  } 

  #order2 p {
    padding: 1em 5em;
  }
}


@media (min-width:1024px) {


  .row {
    margin: 2em 0 !important ;
    justify-content: center !important;
  }

  #order2 p {
    padding: 1em 17em;
  }
}

@media (min-width: 1200px) {
  #desk{
    display: block !important ;
  } 


  #mobile{
    display: none !important;
  } 


  br {
    display: block;
  }

  #order1 {
    top: 1em;
  }

  #info{
    position: relative;
    top: -4em;
  }
 
  #order2 p {
    padding:1em 0 ;
    max-width: 330px;
  }

  .row {
    margin: 2.2em 0 !important ;
    justify-content: flex-start !important;
  }

  .row .row-item
  {
    margin: 0 .5em;
  }
  
  
  
}

@media (min-width: 1400px)  {
  #order2 p {
    max-width: 400px !important;
  }
}